@import '../../common/stylus/variable.styl'
    // fs($font13);
    //             bg("../assets/title_01")
.contentBox {
    min-height: 100%;
    background: #f4f5f9;
}

.msgBox .form {
    position: relative;
    padding-top:0.2rem;
}

.msgBox .form .common {
    overflow hidden
    padding-left: 0.2rem;
    // padding-bottom 0.8rem;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    background-color: #fff;
    margin-bottom: 0.02rem;
}

.msgBox .form .common span {
    float left
    // vertical-align middle
    width: 1.36rem;
    fs($font15);
    color: #999;
}

.msgBox .form input {
    // vertical-align middle
    position relative
    height 100%
    line-height 100%\0
    margin-top 0.2rem
    float left
    width: 3.4rem;
    border: none;
    margin: 0;
    padding: 0;
    top -1px
}

.msgBox .form input {
    fs($font15);
    color: #333;
}

.msgBox .form input::-moz-placeholder {
    fs($font15);
    color: #d3d3d3;
}

.msgBox .form input::-ms-input-placeholder {
    fs($font15);
    color: #d3d3d3;
}

.msgBox .form input::-webkit-input-placeholder {
    fs($font15);
    color: #d3d3d3;
}

.msgBox .form .sub {
    position: absolute;
    left: 0;
    bottom: -1.4rem;
    width: 100%;
    padding: 0 0.2rem;
}

.msgBox .form .sub button {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    background-color: #bdbdbd;
    border-radius: 0.1rem;
    fs($font14);
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 0;
}

.color {
    background: linear-gradient(to right, #1accff, #0693f6);
}
