@import '../../common/stylus/variable.styl'
.contentBox {
    min-height: 100%;
    background: #f4f5f9;
    position: relative;
}

.remind {
    padding-left: 0.2rem;
    width: 100%;
    height: 0.72rem;
    line-height: 0.7rem;
    fs($font12);
    color: #525252;
}

.remind .icon {
    // display: inline-block;
    float left
    width: 0.32rem;
    height: 0.32rem;
    // vertical-align: middle;
    bg("../../assets/icon_warnning_red16x16")
    margin-top 0.2rem
    // background: url('../image/icon_warnning_red16x16@2x.png') no-repeat;
    // background-size: 16px 16px;
}
.scanBox .txt{
    fs($font12);
    color: #999;
}
.remind span {
    // vertical-align: middle;
    margin-left 0.1rem
    padding-bottom:0.04rem;
    
}

.code {
    position: relative;
    background-color: #fff;
    height: 1.2rem;
}

.code input {
    background:transparent;
    padding-left: 0.2rem;
    position relative
    z-index 4
    display: block;
    width: 80%;
    height: 1.2rem;
    // line-height:normal;
    fs($font25);
    font-weight: 800;
    color: #333;
}

.code .scanBox {
    position: absolute;
    top: 50%;
    right: 0.32rem;
    transform:translateY(-50%);
    text-align: center;
}

.code .scanBox .scan {
    // display: inline-block;
    margin:0 auto;
    width: 0.42rem;
    height: 0.42rem;
    bg("../../assets/icon_saoma21x21")
    // background: url('../image/icon_saoma21x21@2x.png') no-repeat;
    // background-size: 21px 21px;
    margin-bottom:0.12rem;
}

.code .scanBox #scan{
    color:#333;
    fs($font12);
}

.code .sub {
    position: absolute;
    left: 0;
    bottom: -1.4rem;
    width: 100%;
    padding: 0 0.2rem;
}

.code .sub button {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    background: linear-gradient(to right, #1accff, #0693f6);
    border-radius: 0.1rem;
    fs($font14);
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.error {
    position: absolute;
    left: 50%;
    margin-top: -0.8rem;
    margin-left: -1.4rem;
    top: 50%;
    width: 2.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    border-radius: 0.1rem;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    fs($font13);
    color: #fff;
}

input::-webkit-input-placeholder {
    fs($font14);
    color: #999;
    font-weight: 300;
    // line-heigh:normal;
    vertical-align: middle;
}
.placeholder{
    position absolute
    top 50%   
    fs($font14);
    color: #999;
    left 0.2rem
    transform translateY(-50%)
}
