@import '../../common/stylus/variable.styl'
.contentBox {
    min-height: 100%;
    background: #f4f5f9;
}

.head {
    height: 2.5rem;
    background: linear-gradient( 0deg, #1accff, #0693f6);
    position: relative;
    padding-top: 0.4rem;
    margin-bottom: 0.8rem;
}

.head .msg {
    height: 100%;
    padding: 0.1rem 0.4rem 0;
    bg("../../assets/bg_pic320x125");
    // background: url("../image/bg_pic320x125@2x.png") no-repeat center top/cover;
}

.head .msg img {
    width: 1rem;
    height: 1rem;
    border: 0.02rem solid #fff;
    border-radius: 0.1rem;
}

.head .msg div {
    padding: 0.16rem;
    color: white;
}
.head .msg s {
    display:inline-block;
    vertical-align: middle;
    margin-left:0.12rem;
    height: 0.28rem;
    width: 0.28rem;
    bg("../../assets/tuichu28x28");
    position:relative;
    top:-1px;
}
.head .msg .name span{
    font-weight: 600;
    fs($font15);
}

.head .msg div p {
    fs($font14);
    line-height: 0.32rem;
}

.head .msg div .price {
    fs($font12);
    margin-top:0.04rem;
}

.head .msg div .price b {
    font-weight: 600;
}

.head .msg i {
    width: 0.42rem;
    height: 0.42rem;
    bg("../../assets/icon_02saoma21x21")
    // background: url("../image/icon_02saoma21x21@3x.png") no-repeat center/cover;
    margin-top: 0.32rem;
}

.head .count {
    height: 1.26rem;
    width: calc(100% - 0.4rem);
    background: white;
    position: absolute;
    bottom: -0.62rem;
    left: 0.2rem;
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-around;
    padding: 0 0.2rem;
}

.head .count div {
    flex: 1;
    text-align: center;
    padding-top: 0.2rem;
    position: relative;
}

.head .count div i {
    content: '';
    position: absolute;
    z-index 1000
    width: 0.02rem;
    height: 0.3rem;
    background: #bbb;
    left: 0.01rem;
    top: 50%;
    transform: translateY(-50%)
}

.head .count .last::after {
    background: white;
}

.head .count div p {
    fs($font12);
    color: #999;
    margin-top: 0.06rem;
    /* margin-bottom: 5px; */
}

.head .count div .number {
    // line-height: 0.34rem;
    fs($font17);
    color: #333;
    font-weight: 600;
}

.lists {
    padding: 0 0.2rem;
}

.list {
    margin-bottom: 0.2rem;
    width: 100%;
    border-radius: 0.2rem;
    overflow: hidden;
    fs($font12);
    color: #333;
}

.num {
    padding: 0 0.2rem;
    margin-bottom: 0.02rem;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    background-color: #fff;
}

.num .fl img {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.1rem;
}

.num .fl span {
    font-weight: 600;
    color: #333;
    vertical-align: middle;
}

.num .right {
    color: #525252;
}

.picBox {
    margin-bottom: 0.02rem;
    padding: 0.2rem;
    display: flex;
    height: 1.53rem;
    background-color: #fff;
    // position: relative;
    width: 100%;
}

.picBox i {
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    top: 0;
    left: 0;
}

.picBox .used {
    bg("../../assets/label_used37x37")
    // background: url('../image/label_used37x37@3x.png') no-repeat center/cover;
}

.picBox .unused {
    bg("../../assets/lable_unused37x37")
    // background: url('../image/lable_unused37x37@3x.png') no-repeat center/cover;
}

.picBox .pic {
    position: relative;
    margin-right: 0.2rem;
    /* flex: 0 0 73px; */
    height: 1.13rem;
    width: 1.46rem;
}

.picBox .pic img {
    height: 100%;
    width: 100%;
}

.picBox .txt {
    flex: 1;
    fs($font13);
    /* font-weight: 600; */
    color: #333;
}

.picBox .txt div {
    margin-bottom: 0.04rem;
}

.picBox .txt span {
    margin-top: 0.14rem;
    color: #ee7907;
}

.msgBox .fl {
    color: #999;
}

.msgBox .fr {
    color: #333;
    font-weight: 600;
}
.mint-actionsheet-listitem{
    color:red;
}
.v-modal{
    opacity:.3;    
}